 
.content_index  .ui-li .ui-btn-inner a.ui-link-inherit, .content_index .ui-li-static.ui-li {
padding: 0 50px;
padding-left: 65px;
display: block;
}



.ui-icon-new-chat-icon {
vertical-align: middle;
width: 28px;
height: 28px;
background: url(../assets/icons/button02.png) no-repeat 0px -68px;
}
.ui-icon-contacts {
vertical-align: middle;
width: 28px;
height: 28px;
background: url(../assets/icons/button02.png) no-repeat -54px -68px;
}

.ui-icon-compass {
vertical-align: middle;
width: 28px;
height: 28px;
background: url(../assets/icons/compass.png);
}

.ui-icon-self {
vertical-align: middle;
width: 28px;
height: 28px;
background: url(../assets/icons/self.png);
}

.ui-icon-shadow {
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow: none;
}



#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
}
#popupPanel {
    width: 200px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}
#popupPanel .ui-btn {
    margin: 2em 15px;
}